In [ ]:
#Data Types and Variables
#Variable
#A variable is a name that stores a value in memory.

In [13]:
#Variable
#A variable is a name that stores a value in memory.
x = 10
name = "Python"

print(x)
print(name)

10
Python

In [18]:
#Integer
name = 5
age = 30
balance = -100
print(name)

5

In [30]:
#Type Conversion in Python
##Explicit Type Conversion (Manual)
##manually convert one data type to another using built-in functions.
num = 100
text = str(num)

print(text)        
print(type(text))

value = "50"
number = int(value)
print(number)
##Implicit Type Conversion (Automatic)
##Python automatically converts one data type to another when it is safe.

100
<class 'str'>
50

In [32]:
##Implicit Type Conversion (Automatic)
##Python automatically converts one data type to another when it is safe.

a = 5
b = 5.5

x =a+b
print(x)
print(type(x))

10.5
<class 'float'>

In [37]:
##Boolean Data Type
##A Boolean represents
# TRUE
# FALSE

x = 15
y = 18
print(x>=y)
print(x<=y)
print(x==y)
print(x != y)

False
True
False
True

In [38]:
##Logical Operators
##AND#Returns True only if ALL conditions are True.
##OR#Returns True if AT LEAST ONE condition is True.
##NOT#Reverses the Boolean value.
a = True
b = False
print(a and b)  
print(a or b)  
print(not a)

False
True
False

In [13]:
#Operators in Python
a = 10
b = 3
print(a + b)  
print(a - b)
print(a * b)
print(a / b)
print(a % b) #Returns the remainder of division.
print(a ** b) #Raises a number to the power of another.
print(a // b)#Divides and returns the integer floor value.

13
7
30
3.3333333333333335
1
1000
3

In [2]:
##Strings-- Datatype
##A string is a sequence of characters used to represent text data.
##In Python, strings belong to the data type str.
name = "Hitesh"
message = 'Hello World'
print(name)
print(message)

Hitesh
Hello World

In [ ]:
##Complex Data Type in Python
##A complex number represents a number with:
##a real part
##an imaginary part
x = 2+3i

In [ ]:
#Dynamic Typing
#You do not declare a variable’s type explicitly
#The type is determined at runtime, based on the value assigned
#Variables don’t have types — values do

In [ ]:
#String Typing
#Python does NOT automatically convert types
#You must explicitly convert types

In [ ]:
## Input Function
#Used to take user input at runtime.
#input() always returns a string

In [3]:
name = input("Enter your name: ")
print(name)

Enter your name:  hitesh

hitesh

In [4]:
age = int(input("What is your age: "))
salary = float(input("Enter your salary: "))

What is your age:  26
Enter your salary:  2500

In [5]:
#f-strings (Formatted String Literals)
#Most readable and efficient way to format strings
#Variables are placed directly inside {}

name = "Hitesh"
age = 26

print(f"My name is {name} and my age is {age}")

My name is Hitesh and my age is 30

In [6]:
x = 10
y = 20

print(f"Sum is {x + y}")

Sum is 30

In [7]:
#.format() Method
#Older but still valid string-formatting method
#Uses {} placeholders
#Values passed via .format()
#Positional formatting
print("My name is {} and age is {}".format("Hitesh", 26))

My name is Hitesh and age is 30

In [9]:
#Indexed formatting
print("Name: {0}, Age: {1}".format("Hitesh", 26))

Name: Hitesh, Age: 30

In [10]:
#Named placeholders
print("Name: {name}, Age: {age}".format(name="Hitesh", age=26))

Name: Hitesh, Age: 26

In [11]:
#if – elif – else Statement
marks = 80
if marks >= 90:
    print("Grade A")
elif marks >=75:
    print("Grade B")
elif marks >=60:
    print("Grade C")
else:
    print("Fail")

Grade B

In [12]:
#Nested if Statements ( if inside if )
#A nested if means placing one if statement inside another if block.
username = input("Enter username: ")
password = input("Enter password: ")

if username == "admin":
    if password == "1234":
        print("Login successful")
    else:
        print("Incorrect password")
else:
    print("Invalid username")

Enter username:  admin
Enter password:  1234

Login successful